@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      scroll-behavior: smooth !important;
      --line-color: "#ff4081"
   }

   .vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
      visibility: visible !important;
   }

   .vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
      visibility: visible !important;
   }
}

html {
   --line-color: "#ff4081"
}
.vertical-timeline::before{
   background: #ff4081 !important;
   z-index: -1;
}