@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      scroll-behavior: smooth !important;
      --line-color: "#ff4081"
   }

   .vertical-timeline--animate .vertical-timeline-element-icon.is-hidden {
      visibility: visible !important;
   }

   .vertical-timeline--animate .vertical-timeline-element-content.is-hidden {
      visibility: visible !important;
   }
}

html {
   --line-color: "#ff4081"
}
.vertical-timeline::before{
   background: #ff4081 !important;
   z-index: -1;
}

.navbar-navigation.active{
   position: relative;
   transition: all 3s ease-in-out;
}
.navbar-navigation.active::after{
   content: "";
   position: absolute;
   bottom: .3rem;
   left: 0;
   width: 100%;
   height: 4px;
   border-radius: 100px;
   background-color: #ff4081;  
}
.vertical-timeline-element-icon {
   z-index: -1;
}